[submodule "src/pr2_mechanism"]
	path = src/pr2_mechanism
	url = git@github.mit.edu:goretkin/pr2_mechanism.git
[submodule "src/force_feedback_controller"]
	path = src/my_controller_pkg
	url = git@github.mit.edu:goretkin/force_feedback_controller.git
[submodule "src/lis_pr2_pkg"]
	path = src/lis_pr2_pkg
	url = git@github.com:Learning-and-Intelligent-Systems/lis_pr2_pkg.git
